<!doctype html>
<html lang="en">
<head>
    <title>Schedule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="css/schedule.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>

<body style="background-color: #e1d2b8; text-align:center">
<nav class="navbar navbar-expand-lg" style="background-color: #9BBDF8;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">O&O App</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="student_home.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="student_search.html">Search classroom</a></li>
                        <li><a class="dropdown-item" href="student_schedule.html">Schedule</a></li>
                        <li><a class="dropdown-item" href="student_account.html">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Contact Us</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="login.html">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="idance">
    <div class="schedule content-block">
        <div class="container">
            <h2 data-aos="zoom-in-up" class="aos-init aos-animate">Schedule</h2>

            <div class="timetable">

                <nav class="nav nav-tabs">
                    <a class="nav-link active" href="#">Mon</a>
                    <a class="nav-link" href="#">Tue</a>
                    <a class="nav-link" href="#">Wed</a>
                    <a class="nav-link" href="#">Thu</a>
                    <a class="nav-link" href="#">Fri</a>
                </nav>

                <div class="monday">
                    <div class="tab-content">
                        <div class="tab-pane show active">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="timetable-item">
                                        <div class="timetable-item-img">
                                            <img src="images/hci.jpg" alt="Contemporary Dance">
                                        </div>
                                        <div class="timetable-item-main">
                                            <div class="timetable-item-time">8:00 - 10:00</div>
                                            <div class="timetable-item-name">classroom: N3</div>
                                            <div class="timetable-item-name">Software Project Management</div>
                                            <div class="timetable-item-name">-laboratory-</div>
                                            <div class="timetable-item-name">prof. Shara Smith 3</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="timetable-item">
                                        <div class="timetable-item-img">
                                            <img src="images/ms.jpg" alt="Contemporary Dance">
                                        </div>
                                        <div class="timetable-item-main">
                                            <div class="timetable-item-time">10:00 - 12:00</div>
                                            <div class="timetable-item-name">classroom: C11</div>
                                            <div class="timetable-item-name">Multimedia Systems</div>
                                            <div class="timetable-item-name">-course-</div>
                                            <div class="timetable-item-name">prof. Shara Smith 10</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="timetable-item">
                                        <div class="timetable-item-img">
                                            <img src="images/hci.jpg" alt="Contemporary Dance">
                                        </div>
                                        <div class="timetable-item-main">
                                            <div class="timetable-item-time">16:00-18:00</div>
                                            <div class="timetable-item-name">classroom: AK1</div>
                                            <div class="timetable-item-name">Software Project Management</div>
                                            <div class="timetable-item-name">-course-</div>
                                            <div class="timetable-item-name">prof. Shara Smith</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>